.sectionA{
    padding-block: 10px;
}
.sectionB{
    padding-block: 10px;
}
.sectionC{
    margin-block: 10px;
    padding-block: 25px;
    background-color: #88888875;
}
.sectionD{
    padding-block: 20px;
    background-color: #88888875;
}
.sectionE{
    padding-block: 20px;
}
.defaultSection{
    padding-block: 10px;
}

.section-latest{
    padding-block: 10px;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin-inline: auto;
}