.sectionLatest{
    padding-block: 10px;
}

/* Filter Box - Matches Card Style */
.filterBox {
    display: flex;
    gap: 10px;
    background: #ffffff; /* White background like the cards */
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #ddd; /* Light gray border like the cards */
}


.filterBox button {
    background: #ddd;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    transition: background 0.2s ease-in-out;
}

.filterBox button:hover {
    background: #bbb;
}

.filterBox .active {
    background: #c30505c2;
    color: white;
}

/* "See More" Button (Now a Link) */
.seeMoreBtn {
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.seeMoreBtn:hover {
    background: #c30505c2;;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .seeMoreBtn {
        width: 100%;
    }
}