
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Whole-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}