* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-block: 50px;
}

.title{
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    text-align: center;
}