* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.WholeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.title{
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    text-align: center;
  }