* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Whole-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: #f0f0f0;
    padding-block: 70px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 900px;
    text-align: center; 
}