.WholeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: #f0f0f0;
    margin-top: 75px;
    padding-block: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 900px;
    text-align: center; 
}